modules = ["nodejs-20", "python-3.12"]
run = "python main.py"

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 8080
externalPort = 80

[auth]
pageEnabled = false
buttonEnabled = false

[deployment]
run = ["sh", "-c", "python main.py"]
